/*FLEXBOX*/

/*HEADER*/
.fondonegro {background-color:rgb(0,0,0);
            display:flex;
            justify-content: space-between;

}

#arribaizquierda{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                }

.pizza {padding: 15px;}
.pizzayfront {
                padding-left: 15px; 
                padding-right: 15px;
            }

#menuhorizontal {display: flex;
                flex-direction: row;
                position: relative;
                top: 25px;
                }

li {padding: 10px 20px 10px 20px;}

[id*=menu] {color: white;}

/*MAIN*/

main {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top:20px;
        padding-bottom: 20px;
        background-color: rgb(196, 189, 189);
    }

#primercuadro {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                background-image: url('/Imagenes/delivery.jpg');
                background-repeat: no-repeat;
                width: 490px;
                height: 350px;
}

.letrablanca {color: white; font-weight: bold; font-size: 30px; padding-left: 5px; padding-right: 5px;}
.letraroja {color: red; font-weight: bold; font-size: 30px;}

#segundocuadro {
    display: flex;
    flex-direction: column;
    justify-tracks: space-around;
    align-items: center;
    width: 490px;
    height: 350px;
    background-color: rgb(255,255,255);
}

.letranegra {font-size: 20px;
            font-weight: bold;
            position: relative;
            right: 130px;
}
.listadepizzastop {font-weight: bold;
                    padding-right: 215px;
                    padding-bottom:30px;}

.listadepizzastop li {padding-top:0px;}                    
.pizzacayendo {
                position: relative;
                bottom: 210px;
                left: 150px;
                }

/*FOOTER*/


#menuvertical {
                display: flex;
                flex-direction: column;
                align-items: center;
                }
.home {order:-2}
.contacto {order: -1}
.promocion {order: 1}


#abajoderecha{
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-right: 10px;
            }