body {font-family: 'Indie Flower', cursive; text-align: center;}

h1 {font-size: 50px;}
p#textopasteleria{  
                    font-size: 35px;
                    font-weight: bold;
                    color:rgb(243, 234, 234);
                    text-align: center center;
                    margin-bottom: 200px;
                    margin-left: 300px;
                    margin-right: 300px;
                }

#pasteleria {
    background-image: url('/Imagenes/fondopaste.png');
    background-repeat: repeat-x;
    background-attachment: conver;
            }

.seccionocio {
                margin-left: 100px;
                margin-right: 100px;
                font-size: 35px;
                font-weight: bold;
            }

#indexhtml {font-size: 30px; color:teal}
