*{      margin: 0px; 
        padding: 0px; 
        box-sizing: border-box;}

/*HEADER*/

#descuentos {   background-color: #1cd1b0;
                font-size: 15px;
                padding: 10px;
        }

#heroes {
        background-color: #00669F;
        font-size: 50px;
        padding: 28px;
        }
/*MENU DE OPCIONES*/
#menu ul {  display:flex;
            justify-content: flex-end;
            padding: 15px;
            background-color: rgb(0, 0, 0);
}
ul li a{ padding:15px;
    color: rgb(255,255,255);
    font-size: 20px;
    text-decoration: none;}

/*MAIN*/
main { display:flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 50px;
        margin-bottom: 50px;
        }

/*CARDS*/
section {
        display: flex;
        flex-direction: column;
        height: 529px;
        width: 300px;
        }

.cara { position: relative;
        bottom: 110px;
        z-index: 100;
        align-self: center;
        }

.corazon {      position: relative;
                bottom: 190px;
                padding-left: 20px;
                padding-top: 20px;
                z-index: 100;
                align-self: flex-start;
}

.fondoclaro {   display:flex;
                flex-direction: column;
                background-color: #F3F3F3;
                padding-top: 90px;
                padding-bottom: 20px;
                width: 300px;
                position: relative;
                bottom: 165px;
                text-align: center;
        }

p {padding: 15px;}

.vermas {       background-color: #00669F;
                color: rgb(255,255,255);
                font-weight: bold;
                padding: 8px;
                text-decoration: none;
                width: 100px;
                border-radius: 25px;
                margin: auto;
        }

/*DERECHOS RESERVADOS*/
footer {
        display: flex;
        flex-direction: row;
        background-color: #00669F; 
        color: rgb(255,255,255);
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        width: auto;
        }

.iconodecompra {position: fixed;
                right: 20px;
                bottom: 20%;
                text-decoration: none;
                background: #00669F;
                color: white;
                font-weight: bold;
                font-size: 50px;
                width: 60px;
                height: 60px;
                text-align: center;
                border-radius: 40px;}


/*Media Queries*/

@media (max-width: 470px){
        main {  flex-direction: column;
                align-items: center;}
        #menu ul, footer {justify-content: center;}
        .iconodecompra {width:30px; 
                        height: 30px; 
                        font-size: 25px;}
        footer {font-size:12px}
                }

@media (min-width: 470px) {
main {  flex-direction: column;
        align-items: center;
}
#menu ul, footer {justify-content: center;}
.iconodecompra {width:60px; 
                height: 60px; 
                font-size: 50px;}
}

@media (min-width:640px) {
main {  flex-direction: row;
        justify-content: space-around;}
#menu ul {justify-content: flex-end;}
.iconodecompra {width:60px; 
                height: 60px; 
                font-size: 50px;
                bottom: 50%;}
}