*{margin:0px; padding: 0px; box-sizing: border-box;}
/*FONDO NEGRO*/
#fondonegro {display: flex;
            justify-content: space-between;
            background-color: rgb(0,0,0);
            width: 100%;
            color:rgb(255, 255, 255);
            }

#arribaizquierda {padding: 2px 2px 2px 30px;}

#arribaderecha {display: flex;
                padding-right: 60px;
                }

#arribaderecha li {padding-left: 30px;}

/*FONDO NARANJA*/
#fondonaranja { display: flex;
                justify-content: space-between;
                background-color: orange;
                width: 100%;}

#logofrontarriba {  width: 334px; 
                    height: 46px;
                    padding: 30px;}

#menudeopciones {display: flex;
                justify-content: center;
                padding: 30px;
                color:rgb(255, 255, 255);}

#menudeopciones li{padding-left: 20px;}

#fondoimagenprincipal { display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-end;
                        background-image: url('/Imagenes/fondoimagen.png');
                        background-repeat: no-repeat;
                        background-size: cover;
                        text-align: center;
                        padding-right: 40px;
                    }

#placerconocerte {  font-weight: normal;
                    font-size: 30px;
                    margin-top: 160px;
                    background-color: rgb(255, 255, 255);
                    width: 320px;
                }
#comederosendescuentos {font-weight: normal; 
                        text-align: center;
                        font-size: 20px;}

#comederos {font-size: 15px;
            width: 120px;
            background-color: orange;
            color:rgb(255, 255, 255);
            padding: 6px;
            border: orange;
            margin-bottom: 200px;}

/*PRODUCTOS DESTACADOS*/

#productos_destacados { display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-top: 20px;
                        margin-bottom: 20px;;}

#patita {width: 67px; height: 71px;}

h1 {font-size: 40px;;}

#opciones {color:rgb(71, 70, 70)}

/*CARDS*/

.container {display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
        margin-bottom: 30px;
        }

.cards {display: flex;
    flex-direction: column;
    width: 265px;
    height: 265px;
    justify-content: flex-end;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
}
.churrasquito {background-image: url('/Imagenes/churrasquito.png');}
.comedero {background-image: url('/Imagenes/comedero.png');}
.huesito { background-image: url('/Imagenes/Huesito.png');}

.precio {color:rgb(224, 201, 65)}

hr {width: 350px; margin: auto;}

/*SECCION CONTACTENOS*/ 

#formulariosdecontacto { display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin: 20px;
                    }

#formulariosdecontacto h3 {font-size: 30px;}

#formulariosdecontacto input {
    background-color: rgb(97, 67, 67);
    font-size: 20px;
    width: 400px; 
    height: 50px;
    margin: 5px;
    border-radius: 15px;
    padding-left: 10px;}              

#formulariosdecontacto input:focus {color: white;font-weight: bold;}

#resetear-enviar {margin-top: 40px;}

#resetear-enviar #resetear {width: 195px;
                            background-color:rgb(179, 173, 173);
                            font-weight: bold;}
#resetear-enviar #enviar{width: 195px;
                        background-color: #ec9c24;
                        font-weight: bold;}

/*SECCION SUSCRIPCION*/

#suscribirse {  display: flex;
                justify-content: space-between;
                background-color: #ec9c24;
                flex-wrap: wrap;
                height: 180px;
            }
#suscribirse #ladoizquierdo{display: flex;
                            align-items: center;
                            color: rgb(255, 255, 255);
                            font-weight: bold;
                            font-size: 25px;
                            padding-left: 30px;
                            }

#suscribirse #ladoizquierdo img { padding-right: 5px;}

#suscribirse #ladoderecho { display: flex;
                            align-items: center;
                            padding-right: 47px;
                            }

#suscribirse #ladoderecho input {
    font-size: 17px;
    width: 270px; 
    height: 50px;
    margin: 5px;
    border-radius: 15px;
    padding-left: 10px;}   

#botonsusc {
    width: 100px;
    height: 50px;
    border-radius: 15px;
    background-color: rgb(97, 67, 67);
    color: rgb(255, 255, 255);
}

/*DATOS DE CONTACTO*/

#fondomarron {  display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                padding: 20px;
                background-color: rgb(97, 67, 67);
            }

#fondomarron #alladodellogo{display: flex;
                            flex-direction: column;}
                            
#fondomarron #alladodellogo div {display: flex;
                                justify-content: space-around;
                                margin: 10px;
                                width: 270px;
                                height: 70px;
                                }

#fondomarron #alladodellogo div i {font-size: 66px; color: rgb(158, 150, 150);}

#fondomarron #alladodellogo div div.encolumna {display: flex; 
            flex-direction: column;
            align-items: center;
            margin:0px;}

span.letrablanca {  color: rgb(255, 255, 255);
                    font-weight: bold;
                    font-size: 20px;}

span.letragris {color: rgb(105, 105, 105);
                font-size: 12px;}

/*DERECHOS RESERVADOS*/
#derechosreservados{text-align: center; 
                    background-color: rgb(0,0,0);
                    color:rgb(255, 255, 255);
                    font-weight: bold;
                    padding: 1px;
                    }




@media (max-width: 590px){
    /*Mobile*/
    #suscribirse #ladoderecho {
        flex-direction: column; 
        align-items: center;
        margin: auto;
    }
    article.logofront {margin: auto;}
}

@media (max-width: 1090px){
    /*Tablet y net*/
    #suscribirse #ladoderecho {
        justify-content: center;
        margin: auto;
    }
}